/* Default Values to Universal Selectors*/
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family:sans-serif;
}

body{
    /* position:relative; */
    background: url("../images/img-4.jpg") center / cover;
    min-height: 100vh;
    display:flex;
    justify-content: center;
    align-items:center;
}

table, th, td{
    border-collapse:collapse;
    padding: 1rem 5rem;
    
}

.table{
    width:77vw;
    height:90vh;
    background-color: #FFF5;
    backdrop-filter: blur(7px);
    box-shadow: 0 0.4rem 0.8rem #0005;
    border-radius: 0.6rem;
    overflow:hidden;
}

.table_header{
    width:100%;
    height:10%;
    background-color: #FFF4;
    padding:0.8rem 5rem;
}

.table_body{
    width:95%;
    max-height:calc(89% - 0.8rem);
    background-color:#FFFB;
    margin:0.8rem auto;
    border-radius:0.6rem;
    overflow: auto;
}

.table_body::-webkit-scrollbar{
    width:0.5rem;
    height:0.5rem;
}

.table_body::-webkit-scrollbar-thumb{
    border-radius:0.5rem;
    background-color:#000F;
    visibility: hidden;
}

.table_body:hover::-webkit-scrollbar-thumb{
    visibility:visible;
}


thead, th{
    position:relative;
    top:0;
    left:0;
}


.submitted{
    background-color:rgb(20, 149, 20);
    padding:0.3rem 0.8rem;
    border-radius:0.5rem;
    margin-bottom: 0.3rem;
    color:#ffffffd5;
}

/* tbody tr:hover{
    background-color: #FFF6;
} */

/* .btn{ */
    /* background-color: #EAF6F6; */
    /* padding:0.5rem 0.7rem;  */
    /* border-radius: 0.5rem;
    border-style:none;
    background-color: #2980B9; 
    font-size: 0.9rem;
    color:#FFFFFF;  */
/* }  */
/* 
.btn:hover{ 
    background-color:#3498DB; 
    color:#FFFFFF; 
} */

.btn{
    padding:0.5rem 0.6rem; 
    border-radius: 0.5rem;
    border-style:none;
    font-size:0.9rem;
}

.btn2{
    padding:0.5rem 0.6rem; 
    border-radius: 0.5rem;
    border-style:none;
    background-color: #2980B9; 
    font-size: 0.95rem;
    color:#FFFFFF; 
}

.btn3{
    padding:0.5rem 0.6rem; 
    border-radius: 0.5rem;
    border-style:none;
    background-color: #2980B9; 
    font-size: 0.95rem;
    color:#FFFFFF; 
}
.btn3 a{
    color: white;
    text-decoration: none;
}

.btn2:hover{
    background-color:#3498D8;
    color:#FFFFFF;
}

.footer{
    background-color: #FFF5;
    color:black;
    text-align:center;
    margin-top:15px;
    padding:5px 20px;
    width:100%;
}

.navbar{
    background-color:#FFF4;
    display:flex;
}

.navbar a{
    text-align:center;
    text-decoration:none;
    padding:10px 20px;
}

tbody,tr:hover{
    background-color: #FFF6;
}

@media only screen and (max-width: 429px) {
    a{
        padding: 3px !important;
    }

    td, th{
        padding: 5px;
        text-align: center;
        margin-left: 8%;
    }

    .table{
        width: 100%;
    }
    
    .submitted{
        padding:0.3rem 0.4rem;
        font-size:0.8rem;
        margin-left:3%;
    }

    .btn3{
        padding:0.3rem 0.4rem;
        font-size:0.8rem;
        margin-left:8%;
    }

    table{
        margin:auto;
    }

    /* .modal-content{
        height: 400px;
    } */
}