body{
    background-image: linear-gradient(201deg, #064346 -23%, #12100e 130%);
    padding-bottom: 55px;
}
.heading{
    margin-top: 1rem;
    text-align: center;
    font-size: 2rem;
    color: rgba(122, 206, 86, 0.911);
}
.navbar{
    background: #022527;
}
footer {
    background: #022527;
    color: #ffffff;
    position: relative;
}
.display{
    color: aliceblue;
    
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: inherit !important;
    border: 1px solid rgba(128, 126, 130, 0.3);
    background: linear-gradient(to bottom,   rgba(134, 75, 230, 0.911) 0%, rgb(3 52 242 / 10%) 100%);
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: inherit !important;
    border: 1px solid rgba(128, 126, 130, 0.3);
    background: linear-gradient(to bottom,   rgba(71, 196, 141, 0.578) 0%, rgba(33, 145, 93, 0.436) 100%);
}
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color: #ffffff82; 
}

.dataTables_wrapper .dataTables_filter {
    text-align: right;
    margin-right: 100px;
}

.dataTables_wrapper .dataTables_length {
    float: right;
    margin-right: 99px;
}

.dataTables_wrapper .dataTables_paginate {
    text-align: right;
    padding-top: 0.25em;
    margin-right: 100px;
}


.dataTables_wrapper .dataTables_filter input {
    border-radius: 10px;
    background-color: rgba(251, 251, 251, 0);
    margin-left: 3px;
    color: aliceblue;
}


.dataTables_wrapper {
    margin-top: 40px;
}

table.dataTable.no-footer {
     
    margin-top:30px;
    border: 1px solid rgba(122, 206, 86, 0.911);
}


.dataTables_wrapper .dataTables_length select {
    border: 1px solid #aaa;
    border-radius: 10px;
    color: #aaa;
    
}

label {
    display: inline-block;
    padding-bottom: 10px;
}

table.dataTable.display>tbody>tr.odd>.sorting_1, table.dataTable.order-column.stripe>tbody>tr.odd>.sorting_1 {
    box-shadow: inset 0 0 0 9999px rgb(0, 0, 0);
}

table.dataTable.stripe>tbody>tr.odd>*, table.dataTable.display>tbody>tr.odd>* {
    box-shadow: inset 0 0 0 9999px rgba(109, 112, 114, 0.082);
}

table.dataTable.display>tbody>tr.even>.sorting_1, table.dataTable.display>tbody>tr.odd>.sorting_1 {
    box-shadow: inset 0 0 0 9999px rgba(10, 10, 10, 0.637);
    background: #054246;
}
#example td{
    box-shadow: inset 0 0 0 9999px rgba(10, 10, 10, 0.637);
    background: #083c3e;
}

table.dataTable thead th, table.dataTable thead td {
    padding: 10px;
    border-bottom: 1px solid rgba(122, 206, 86, 0.911);
}

table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td {
    border-bottom: 1px solid rgba(122, 206, 86, 0.911);
    background: #083c3e;
}

.dataTables_wrapper .dataTables_info {
    clear: both;
    float: left;
    margin-left: 95px;
    padding-top: 0.755em;
}


tr {
    display: table-row;
    vertical-align: inherit;
    height:25px;
}



@media screen and (max-width: 767px){
.dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_paginate {
    float: none;
    margin-left:none;
    text-align: center;
    align-items: center;
}

.dataTables_wrapper .dataTables_length {
    float: right;
    margin-right: 30px;
}

.dataTables_wrapper .dataTables_paginate{
    margin-right:0px;
}

.dataTables_wrapper .dataTables_info {
    clear: both;
    float: none;
    margin-left: 20px;
    padding-top: 0.755em;
    margin-top: -5px
}

.dataTables_wrapper{
    margin-top: 15px;
}

}

@media screen and (max-width: 640px){
.dataTables_wrapper .dataTables_filter {
    margin-top: 0.5em;
    margin-left:auto;
    margin-right: auto;
    margin-bottom:-25px;
    
}


.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter {
    float: none;
    text-align: center;
    margin-left: 50px;
}
.dataTables_wrapper{
    margin-top: 15px;
}

}

@media  screen and (max-width: 500px) {
    .dataTables_wrapper .dataTables_filter .dataTables_input {
    margin-left:auto;
    margin-right: auto;
    font-size: 7px ;
    margin-top: 3px;
    }
    .navbar{
        margin-right:-200px;
        margin-bottom: 80px;
    }   

}

.dataTables_wrapper .dataTables_length {
    display:none;
}

table.dataTable tbody th, table.dataTable tbody td {
    padding: 5px 1px;
    text-align: center;
}

table.dataTable thead>tr>th.sorting:before, table.dataTable thead>tr>th.sorting_asc:before, table.dataTable thead>tr>th.sorting_desc:before, table.dataTable thead>tr>th.sorting_asc_disabled:before, table.dataTable thead>tr>th.sorting_desc_disabled:before, table.dataTable thead>tr>td.sorting:before, table.dataTable thead>tr>td.sorting_asc:before, table.dataTable thead>tr>td.sorting_desc:before, table.dataTable thead>tr>td.sorting_asc_disabled:before, table.dataTable thead>tr>td.sorting_desc_disabled:before {
    display: none;
}

table.dataTable thead>tr>th.sorting:after, table.dataTable thead>tr>th.sorting_asc:after, table.dataTable thead>tr>th.sorting_desc:after, table.dataTable thead>tr>th.sorting_asc_disabled:after, table.dataTable thead>tr>th.sorting_desc_disabled:after, table.dataTable thead>tr>td.sorting:after, table.dataTable thead>tr>td.sorting_asc:after, table.dataTable thead>tr>td.sorting_desc:after, table.dataTable thead>tr>td.sorting_asc_disabled:after, table.dataTable thead>tr>td.sorting_desc_disabled:after {
    top: 50%;
    content: "▼";
    content: "▼"/"";
    display: none;
}

table.dataTable thead>tr>th.sorting, table.dataTable thead>tr>th.sorting_asc, table.dataTable thead>tr>th.sorting_desc, table.dataTable thead>tr>th.sorting_asc_disabled, table.dataTable thead>tr>th.sorting_desc_disabled, table.dataTable thead>tr>td.sorting, table.dataTable thead>tr>td.sorting_asc, table.dataTable thead>tr>td.sorting_desc, table.dataTable thead>tr>td.sorting_asc_disabled, table.dataTable thead>tr>td.sorting_desc_disabled {
    text-align: center;
}