/* Default Values to Universal Selectors*/
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family:sans-serif;

}
footer {
    background-color: #1f2833;
    color: #ffffff;
  }

.navbar-brand{
    font-size:18px;
}

.nav-link{
    font-size:15px;
}

body{
    /* position:relative; */
    background: url("../images/blue.jpeg") center / cover;
    /* background-color: #010B19; */
    min-height: 100vh;
    /* display:flex; */
    justify-content: center;
    align-items:center;
}

table, th, td{
    border-collapse:collapse;
    padding: 0.8rem 7rem;
}

th{
    font-size:18px;
}

.table{
    /* width:77vw; */
    height:90vh;
    background-color: rgba(255, 255, 255, 0.415);
    backdrop-filter: blur(7px);
    box-shadow: 0 0.4rem 0.8rem #0005;
    border-radius: 0.6rem;
    overflow:hidden;
}

.table_header{
    width:100%;
    height:10%;
    background-color: #FFF4;
    padding:0.8rem 5rem;
}

.table_body{
    width:95%;
    max-height:calc(89% - 0.8rem);
    background-color:#FFFB;
    margin:0.8rem auto;
    border-radius:0.6rem;
    overflow: auto;
}

.table_body::-webkit-scrollbar{
    width:0.5rem;
    height:0.5rem;
}

.table_body::-webkit-scrollbar-thumb{
    border-radius:0.5rem;
    background-color:#000F;
    visibility: hidden;
}

.table_body:hover::-webkit-scrollbar-thumb{
    visibility:visible;
}

.heading{
    text-align: center;
    font-size:23px;
}

thead, th{
    position:relative;
    top:0;
    left:0;
}


.submitted1{
    background-color:rgb(17, 144, 17);
    padding:0.4rem 1rem;
    border-radius:0.5rem;
    margin-bottom: 0.3rem;
    color:#ffffffd5;
    text-align: center;
}

.submitted2{
    background-color:#cc2923;
    padding:0.4rem 1rem;
    border-radius:0.5rem;
    margin-bottom: 0.3rem;
    color:#ffffffd5;
    text-align: center;
}

.submitted3{
    background-color:#c76718 ;
    padding:0.4rem 1rem;
    border-radius:0.5rem;
    margin-bottom: 0.3rem;
    color:#ffffffd5;
    text-align: center;
}

/* tbody tr:hover{
    background-color: #FFF6;
} */

/* .btn{ */
    /* background-color: #EAF6F6; */
    /* padding:0.5rem 0.7rem;  */
    /* border-radius: 0.5rem;
    border-style:none;
    background-color: #2980B9; 
    font-size: 0.9rem;
    color:#FFFFFF;  */
/* }  */
/* 
.btn:hover{ 
    background-color:#3498DB; 
    color:#FFFFFF; 
} */

.btn{
    padding:0.5rem 0.6rem; 
    border-radius: 0.5rem;
    border-style:none;
    font-size:0.9rem;
}

.btn2{
    padding:0.5rem 0.6rem; 
    border-radius: 0.5rem;
    border-style:none;
    background-color: #0d5a7a; 
    font-size: 0.95rem;
    color:#FFFFFF; 
}

.btn3{
    padding:0.5rem 0.7rem; 
    border-radius: 0.5rem;
    border-style:none;
    background-color: #0f6e97; 
    font-size: 0.95rem;
    color:#FFFFFF; 
}

.btn2:hover{
    background-color:#064e7b;
    color:#FFFFFF;
}

/* .footer{
    background-color: #FFF5;
    color:black;
    text-align:center;
    margin-top:15px;
    padding:5px 20px;
    width:100%;
} */

.navbar{
    color:#FFF4;
    backdrop-filter: blur(8px);
    margin-bottom: 1%;
    /* display:flex; */
}

.navbar a{
    text-align:center;
    padding:10px 20px;
}

tbody,tr:hover{
    background-color: #FFF6;
}

.text-center{
    backdrop-filter: blur(8px);
}

@media only screen and (max-width: 429px) { 
    a{
        padding: 3px !important;
    }

    td, th{
        padding: 5px;
        text-align: center;
        margin-left: 8%;
    }

    .table{
        width: 100%;
    }
    
    .submitted1{
        padding:0.4rem 0.2rem;
        font-size:0.8rem;
        margin-left:1%;
    }

    .submitted2{
        padding:0.4rem 0.2rem;
        font-size:0.8rem;
        margin-left:1%;
    }

    .submitted3{
        padding:0.4rem 0.2rem;
        font-size:0.8rem;
        margin-left:1%;
    }

    .btn3{
        padding:0.4rem 0.5rem;
        font-size:0.8rem;
        margin-left:4%;
    }

    table{
        margin:auto;
    }

    /* .modal-content{
        height: 400px;
    } */
 }